.hero-section {
  padding: 0 50px 0 50px;
  background-image: url("../images/banner-img.png");
  height: 700px;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navsecond ul {
  display: flex;
  align-items: center;
}

.navbeta {
  gap: 30px;
}

.container1 {
  padding-top: 15px;
}

h3 {
  text-align: center;
  font-family: Exo, sans-serif;
  font-weight: normal;
  margin-top: 50px;
  text-transform: uppercase;
}
