nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: var(--main-grey);
}

.right {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 20px;
  color: var(--main-grey);
}

.mainnav-container {
  background-color: #424242;
  height: 55px;
}

.navsecond,
.navbeta {
  list-style: none;
}
.navbeta,
.hero-nav {
  display: flex;
}
.navbeta {
  gap: 30px;
}

.navbeta li {
  text-transform: uppercase;
}

.navsection {
  background-color: black;
  height: 275px;
  display: flex;
  align-items: center;
}
.navelement {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.data {
  list-style: none;
  font-size: 30px;
  color: white;
  padding: 30px;
}

.headline {
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Exo, sans-serif;
}

.survey {
  margin: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
.red-linear {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}
